{% extends 'base_recepcao.html' %}


{% block body %}
{% load static %}
    {% if msg %}
<h1 style="text-align:center;">{{msg}}</h1><hr />
    {% endif %}
<h1>Visualizar Aula</h1>
<hr />
<form method="post">
    {% csrf_token %}
    <input type="hidden" name="aula_id" value="{{aula_obj.id}}" />
    <div class="form-row">
        <div class="form-group col-md-1">
            <label for="inputName">ID </label>
            <input type="text" class="form-control" id="inputEmail4" value="{{aula_obj.id}}" title="Número de identificação." disabled>
        </div>
        {% if aula_obj.estado == '1' %}
        <div class="form-group col-md-4">
            <label for="inputName">Estado</label>
            <select name="unidade" class="form-control" disabled>
                <option value="1" disabled selected>Agendada</option>
            </select>
        </div>
        {% endif %}
        {% if aula_obj.estado == '2' %}
        <div class="form-group col-md-4">
            <label for="inputName">Estado</label>
            <select name="estado" class="form-control" disabled>
                <option value="2" disabled selected>Lecionada</option>
            </select>
        </div>
        {% endif %}
        {% if aula_obj.estado == '3' %}
        <div class="form-group col-md-4">
            <label for="inputName">Estado</label>
            <select name="estado" class="form-control" disabled>
                <option value="3" disabled selected>Cancelada</option>
            </select>
        </div>
        {% endif %}
        {% if aula_obj.unidade == '1' %}
        <div class="form-group col-md-4">
            <label for="inputName">Unidade<strong>*</strong></label>
            <select name="unidade" class="form-control" disabled>
                <option value="1" disabled selected>Tres Lagoas</option>
            </select>
        </div>
        {% endif %}
        {% if aula_obj.unidade == '2' %}
        <div class="form-group col-md-4">
            <label for="inputName">Unidade<strong>*</strong></label>
            <select name="unidade" class="form-control" disabled>
                <option value="2" selected disabled>Agua Clara</option>
            </select>
        </div>
        {% endif %}
        {% if aula_obj.unidade == '3' %}
        <div class="form-group col-md-4">
            <label for="inputName">Unidade<strong>*</strong></label>
            <select name="unidade" class="form-control" disabled>
                <option value="3" selected disabled>Ribas do Rio Pardo</option>
            </select>
        </div>
        {% endif %}
        {% if aula_obj.unidade == '4' %}
        <div class="form-group col-md-4">
            <label for="inputName">Unidade<strong>*</strong></label>
            <select name="unidade" class="form-control" disabled>
                <option value="4" selected disabled>Campo Grande</option>
            </select>
        </div>
        {% endif %}
        <div class="form-group col-md-3">
            <label for="inputName">Data Aula </label>
            <input type="text" class="form-control" id="inputEmail4" value="{{aula_obj.data_aula|date:"d/m/Y - H:i"}}" title="Data da aula." disabled>
        </div>
        <div class="form-group col-md-12">
            <label for="inputName">Sala </label>
            <input type="text" class="form-control" id="inputEmail4" value="{{aula_obj.classe.nome}}" title="Sala de aula." disabled>
        </div>
        <div class="form-group col-md-12">
            <label for="inputName">Grupo </label>
            <input type="text" class="form-control" id="inputEmail4" value="{{aula_obj.group.nome}}" title="Turma de alunos." disabled>
        </div>
        <div class="form-group col-md-12">
            <label for="inputName">Professor(a) </label>
            <input type="text" class="form-control" id="inputEmail4" value="{{aula_obj.pro.nome}}" title="Professor." disabled>
        </div>
    </div>
    {% if alunos_grupo %}
    <hr />
    <h4>Alunos </h4>
    <div class="form-row">
        <div class="form-group col-md-12">
            <table class="table table-responsive-sm">
                <thead>
                    <tr>
                        <th scope="col" style="width:10%;">#</th>
                        <th scope="col" style="width:90%;">Nome</th>
                    </tr>
                </thead>
                <tbody>
                    {% for alunos in alunos_grupo %}
                    <tr>
                        <td style="width:10%;">{{alunos.id}}</td>
                        <td style="width:90%;">{{alunos.nome}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
    <div class="form-row">
        <div class="form-group col-md-12">
            <button type="submit" class="btn btn-info float-right" formaction="/class/schedule_edit/" title="Editar aula.">Editar</button>
        </div>
    </div>
</form>
{% endblock %}