{% extends 'base_recepcao.html' %}

{% block body %}
{% load static %}
{% if msg %}
<h1 style="text-align:center;">{{msg}}</h1><hr />
{%endif%}
<h1>Visualizar Aulas</h1><hr />
<form method="POST">
    {%csrf_token%}
    <div class="form-row">
        <div class="form-group col-md-6"></div>
        <div class="form-group col-md-3">
            <label>Data Inicio</label>
            <input type="date" class="form-control" value="{{data_inicio}}" name="data_inicio" title="Selecione a data" />
        </div>
        <div class="form-group col-md-3">
            <label>Data Fim</label>
            <input type="date" class="form-control" value="{{data_fim}}" name="data_fim" title="Selecione a data" />
            <button type="submit" class="btn btn-secondary float-right" title="Buscar por data">Buscar</button>
        </div>
        <div class="form-group col-md-12">
            <table class="table table-md table-responsive-md">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Data</th>
                        <th scope="col">Horario</th>
                        <th scope="col">Sala</th>
                        <th scope="col">Grupo</th>
                        <th scope="col">Professor(a)</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Editar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for aula in aulas_all %}
                    {% if aula.estado == '1' %}
                    <tr>
                        <td style="width: 5%;"><button type="submit" style="background-color:transparent; " name="aula_id" value="{{aula.id}}" formaction="/class/schedule_detail/">{{aula.id}}</button></td>
                        <td style="width: 10%;">{{aula.data_aula|date:"d/m/Y"}}</td>
                        <td style="width: 10%;">{{aula.data_aula|date:"h:i"}}</td>
                        <td style="width: 15%;">{{aula.classe.nome}}</td>
                        <td style="width: 15%;">{{aula.group.nome}}</td>
                        <td style="width: 25%;">{{aula.pro.nome}}</td>
                        <td style="width: 10%;">{{aula.get_estado_display}}</td>
                        <td style="width: 10%;"><button type="submit" name="aula_id" value="{{aula.id}}" class="btn btn-info" formaction="/class/schedule_detail/" title='Editar aula.'>Visualizar</button></td>
                    </tr>
                    {% endif %}
                    {% if aula.estado == '2' %}
                    <tr>
                        <td style="width: 5%;"><button type="submit" style="background-color:transparent; " name="aula_id" value="{{aula.id}}" formaction="/class/schedule_detail/">{{aula.id}}</button></td>
                        <td style="width: 10%;">{{aula.data_aula|date:"d/m/Y"}}</td>
                        <td style="width: 10%;">{{aula.data_aula|date:"h:i"}}</td>
                        <td style="width: 15%;">{{aula.classe.nome}}</td>
                        <td style="width: 15%;">{{aula.group.nome}}</td>
                        <td style="width: 25%;">{{aula.pro.nome}}</td>
                        <td style="width: 10%;">{{aula.get_estado_display}}</td>
                        <td style="width: 10%;"><button type="submit" name="aula_id" value="{{aula.id}}" class="btn btn-info" formaction="/class/schedule_detail/" title='Editar aula.'>Visualizar</button></td>
                    </tr>
                    {% endif %}
                    {% if aula.estado == '3' %}
                    <tr>
                        <td style="width: 5%;"><button type="submit" style="background-color:transparent; " name="aula_id" value="{{aula.id}}" formaction="/class/schedule_detail/">{{aula.id}}</button></td>
                        <td style="width: 10%;">{{aula.data_aula|date:"d/m/Y"}}</td>
                        <td style="width: 10%;">{{aula.data_aula|date:"h:i"}}</td>
                        <td style="width: 15%;">{{aula.classe.nome}}</td>
                        <td style="width: 15%;">{{aula.group.nome}}</td>
                        <td style="width: 25%;">{{aula.pro.nome}}</td>
                        <td style="width: 10%;">{{aula.get_estado_display}}</td>
                        <td style="width: 10%;"><button type="submit" name="aula_id" value="{{aula.id}}" class="btn btn-info" formaction="/class/schedule_detail/" title='Editar aula.'>Visualizar</button></td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</form>
{% endblock %}